.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  margin: 0 auto;
  display: block;
}
